<!--Main layout-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img
        class="center-block"
        src="img/SQABvector.svg"
        class="img-responsive"
      /><br />
    </div>
  </div>

  <!--Header row-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="h2-responsive">Annual Conference</h2>
        <br />
        <p class="lead">
          The Society for the Quantitative Analyses of Behavior (SQAB) hosts a
          yearly conference coinciding with the Annual conference for the
          Association for Behavior Analysis International (ABAI). Topics span a
          range of human and non-human experimental research and both paper and
          poster sessions are offered. The main conference proceedings will take place at the Baton Convention and Exhibition Center (BCEC) in Room 205AB and the poster sessions in Room 205C.
        </p>

        <p class="lead">
          <strong>Registration for SQAB 2022 is now open and the deadline for submissions is Monday April 11, 2022!</strong>.
        </p>

        <p class="lead">
          Registration and additional information is available on the
          <a href="https://www.sqab.org/Registration.html"
            >SQAB 2022 Registration</a
          >
          page.
        </p>
      </div>
    </div>
  </div>
  <!--/.Header row-->

  <!--Information row-->
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h2 class="h2-responsive">SQAB 2022 will take place May 26, 27</h2>
        <!--
                  <br />

        <p class="lead">
          Downloadable programs for
          <a href="https://www.sqab.org/programs/2021.pdf">SQAB</a>,
          <a href="https://www.sqab.org/programs/2021-Tutorials.pdf"
            >SQAB Tutorials</a
          >, and Tony Nevin Student Presenters (<a
            href="https://www.sqab.org/programs/2021-Nevin-Presenters-Saturday.pdf"
            >Saturday</a
          >,
          <a
            href="https://www.sqab.org/programs/2021-Nevin-Presenters-Sunday.pdf"
            >Sunday</a
          >) are now available. Contact information for all speakers is
          available
          <a href="https://www.sqab.org/programs/2021-contact.pdf">here</a>. All
          times are Eastern Daylight Time (UTC–4).
        </p>

        -->

        <p class="lead"><strong>May 26nd </strong></p>

        <p class="lead text-center">
          <strong>Registration: 11:30 - 1:00 pm</strong>
        </p>

        <p class="lead">
          <strong>01:00 pm</strong> - Suzanne Mitchell, Oregon Health & Science
          University: <i>President’s Introduction</i>
        </p>

        <p class="lead">
          <strong>01:15 pm</strong> - Ruth Colwill, Brown University:
          <i>Habituation: The Cinderella of Learning</i>
        </p>

        <p class="lead">
          <strong>01:55 pm</strong> - Mark Bouton, University of Vermont, Brown
          University:
          <i>Context, Behavior Change, and Habit Learning</i>
        </p>

        <p class="lead text-center">
          <strong>Break and Refreshments: 2:20 – 2:35 pm</strong>
        </p>

        <p class="lead">
          <strong>02:35 pm</strong> - Ralph Miller, Binghamton University:
          <i>Researcher Heuristics as an Obstacle to Understanding Learning</i>
        </p>

        <p class="lead">
          <strong>03:15 pm</strong> - Bryan Klapes, Philadelphia College of
          Osteopathic Medicine:
          <i
            >Modeling and Quantifying Resurgence in an Evolutionary Theory of
            Behavior Dynamics</i
          >
        </p>

        <p class="lead text-center">
          <strong>Break and Refreshments: 3:55 – 4:10 pm</strong>
        </p>

        <p class="lead">
          <strong>04:10 pm</strong> - Samuel Gershman, Harvard University:
          <i>Policy Compression</i>
        </p>
        <p class="lead">
          <strong>01:15 pm</strong> - Juliet Davidow, Northeastern University:
          <i></i>
        </p>

        <p class="lead text-center">
          <strong>First Poster Session 7:00 - 9:30 pm</strong>
        </p>

        <p class="lead"><strong>May 27th </strong></p>

        <p class="lead text-center">
          <strong>Coffee & Pastries: 7:45 - 9:00 am</strong>
        </p>

        <p class="lead">
          <strong>09:00 am</strong> - John Krakauer, Johns Hopkins University:
          <i>The Cognitive-Motor Interface: Deliberation vs. Intelligence</i>
        </p>

        <p class="lead">
          <strong>09:40 am</strong> - Alireza Soltani, Darmouth College:
          <i
            >Information Theory for Behaviorism: Predicting Matching Behavior
            based on Entropy in the Response to Reward Feedback</i
          >
        </p>

        <p class="lead text-center">
          <strong>Break and Refreshments: 10:20 – 10:35 am</strong>
        </p>

        <p class="lead">
          <strong>10:35 am</strong> - Armando Machado, Universidade de Aveiro:
          <i
            >A Dialog between Two Models of Timing, Scalar Expectancy Theory
            (SET) and Learning-to-Time (LeT)</i
          >
        </p>

        <p class="lead">
          <strong>11:15 am</strong> - Andrew Delamater, Brooklyn College:
          <i>Learning about Reward Identities and Time</i>
        </p>

        <p class="lead text-center">
          <strong>Lunch: 11:55 – 1:30 pm</strong>
        </p>

        <p class="lead">
          <strong>1:30 pm</strong> - Michael Young and Brian Howatt, Kansas
          State University:
          <i
            >Response Limitations: How Depletion and Replenishment Cliffs affect
            Waiting</i
          >
        </p>

        <p class="lead">
          <strong>2:10 pm</strong> - Shawn Gilroy, Louisiana State University:
          <i
            >The Operant Behavioral Economics of Fad, Questionable, and
            Pseudoscientific Treatment Consumption</i
          >
        </p>

        <p class="lead text-center">
          <strong>Break and Refreshments: 2:50 – 3:10 pm</strong>
        </p>

        <p class="lead">
          <strong>3:10 pm</strong> - Gene Heyman, Boston College:
          <i></i>
        </p>

        <p class="lead">
          <strong>3:50 pm</strong> - The Tony Nevin Invited Student Presentation
          Series
        </p>

        <p class="lead"><strong>4:30 pm</strong> - Awards & Closing Remarks</p>

        <p class="lead"><strong>4:35 pm</strong> - Business Meeting</p>

        <p class="lead text-center">
          <strong>Second Poster Session & Cash Bar: 7:00 - 9:30 pm</strong>
        </p>

        <p class="lead">ACE Provider: Sean Smith, Ph.D., BCBA-D</p>
      </div>
    </div>
  </div>
  <!--/.Information row-->

  <div class="row">
    <div class="col-md-12">
      <img
        class="center-block"
        src="img/BACB-ACE-475x325.png"
        class="img-responsive"
      /><br />
    </div>
  </div>
</div>
