<!--Main layout-->
<div class="container">

<div class="row">
    <div class="col-md-12">
        <img class="center-block" src="img/SQABvector.svg" class="img-responsive"><br>
    </div>
</div>

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">Annual Conference</h2><br>
            <p class="lead">The Society for the Quantitative Analyses of Behavior (SQAB) hosts a yearly conference coinciding with the Annual conference for the Association for Behavior Analysis International (ABAI). Topics span a range of human and non-human experimental research and both paper and poster sessions are offered. </p>

            <p class="lead"><strong>Registration for SQAB 2021 is now open!</strong> The conference will be available as both a livestream as well as viewable at a later time through the BehaviorLive service.</p>

            <p class="lead">Registration and additional information is available on the <a href="https://www.sqab.org/Registration.html">SQAB 2021 Registration</a> page.</p>
            
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">

    <div class="col-md-12">
        <div class="well">
            <h2 class="h2-responsive">SQAB 2021 will take place May 22/23 (Virtually)</h2><br>

            <p class="lead">Downloadable programs for <a href="https://www.sqab.org/programs/2021-Program.pdf">SQAB</a> and <a href="https://www.sqab.org/programs/2021-Tutorials.pdf">SQAB Tutorials</a> are now available. Contact information for all speakers is available <a href="https://www.sqab.org/programs/2021-contact.pdf">here</a>. All times are Eastern Daylight Time (UTC–4).</p>

            <p class="lead"><strong>May 22nd </strong></p>

            <p class="lead"><strong>10:00 (10:00 am)</strong> - Christopher A. Podlesnik, Auburn University, Auburn AL, USA: President’s Introduction</p>
            <p class="lead"><strong>10:15 (10:15 am)</strong> - Wojciech Bialaszek, SWPS University of Social Sciences and Humanities, Warsaw, Poland: Effort Discounting: Recent Advances and Remaining Challenges</p>
            <p class="lead"><strong>10:55 (10:55 am)</strong> - David A. Rosenbaum, UC Riverside, Riverside CA, USA: Choosing what to do: Observations from a Psycho-motor Laboratory, Including the Discovery of Pre-crastination</p>
            <p class="lead"><strong>11:35 (11:35 am)</strong> - Poster spotlights/Nevin awards</p>

            <p class="lead text-center"><strong>First Poster Session 12:00 – 13:30 (12:00 - 1:30 pm)</strong></p>

            <p class="lead"><strong>13:30 (01:30 pm)</strong> - Mikhail N. Koffarnus, University of Kentucky, Lexington KY, USA: Much Ado about Zeros: Recent Thoughts on Demand Analyses</p>
            <p class="lead"><strong>14:10 (02:10 pm)</strong> - Caitlin A. Orsini, University of Texas at Austin, Austin TX, USA: Hormonal Regulation of Cost/Benefit Decision Making in Male and Female Rats</p>

            <p class="lead text-center"><strong>Break: 14:50 – 15:05 (2:50 – 3:05 pm)</strong></p>
            
            <p class="lead"><strong>15:05 (03:05 pm)</strong> - Rogelio Escobar, National Autonomous University of Mexico, Mexico City, Mexico: The Maker Movement in the Operant Laboratory: Recording a Wide Range of Response Variation</p>
            <p class="lead"><strong>15:45 (03:45 pm)</strong> - Jonathan E. Friedel, Georgia Southern University, Statesboro GA, USA: Discrete Choice Experiments: Modeling Choice of Aggregated Groups</p>

            <p class="lead text-center"><strong>Break: 16:25 – 16:40 (4:25 – 4:40 pm)</strong></p>

            <p class="lead"><strong>16:40 (4:40 pm)</strong> - Divya Sitaraman, CSU EastBay, Hayward CA, USA: Sleep, Unpredictability and Behavioral Choice: You are not the Only One with Problems</p>
            <p class="lead"><strong>17:20 (5:20 pm)</strong> - Sarah Cowie, University of Auckland, Auckland, New Zealand: Choosing a Future from a Murky Past </p>

            <p class="lead text-center"><strong>End 18:00 (6:00 pm)</strong></p>
 
            <p class="lead"><strong>May 23rd </strong></p>

            <p class="lead"><strong>10:30 (10:30 am)</strong> - Elise Furrebøe, University Agder, Kristiansand, Norway: Sometimes Shallow and Unsystematic: Examining the Qualitative Differences in Individual Delay Discounting</p>
            <p class="lead"><strong>11:10 (11:10 am)</strong> - Wayne W. Fisher, Rutgers University/Rutgers Biomedical and Health Sciences, Piscataway NJ, USA: Using Quantitative Models to Promote Rapid, Generalized, and Durable Decreases in Destructive Behavior in Children with Autism</p>
            <p class="lead"><strong>11:50 (11:50 am)</strong> - Poster spotlights/Nevin awards</p>

            <p class="lead text-center"><strong>Second Poster Session 12:15 - 13:45 (12:15 – 1:45 pm)</strong></p>

            <p class="lead"><strong>13:45 (1:45 pm)</strong> - Derek D. Reed, University of Kansas, Lawrence KS, USA: Applying Behavioral Economics to Public Health Crises: Historical Precedence and Translational Promise</p>
            <p class="lead"><strong>14:25 (2:25 pm)</strong> - Ian Krajbich, Ohio State University, Columbus OH, USA: The Dynamics of Economic Behavior</p>

            <p class="lead text-center"><strong>Break: 15:05 – 15:20 (3:05 – 3:20 pm)</strong></p>

            <p class="lead"><strong>15:20 (3:20 pm)</strong> - Zena R. Mello, San Francisco State University, San Francisco CA, USA: The "i" in Time: A Subjective Conceptualization and Measurement of Time Perspective</p>
            <p class="lead"><strong>16:00 (4:00 pm)</strong> - Christopher A. Podlesnik, Auburn University, Auburn AL, USA: Examining Extinction and Relapse using Amazon Mechanical Turk</p>
            <p class="lead"><strong>16:40 (4:40 pm)</strong> - Business meeting and award presentations</p>
            
            <p class="lead text-center"><strong>Meeting ends 17:30 (5:30 pm)</strong></p>

            <p class="lead">ACE Provider: Billie Retzlaff, Ph.D., BCBA-D</p> 
        </div>
    </div>
</div>
<!--/.Information row-->

<div class="row">
    <div class="col-md-12">
        <img class="center-block" src="img/BACB-ACE-475x325.png" class="img-responsive"><br>
    </div>
</div>

</div>