<!--Main layout-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img
        class="center-block"
        src="img/SQABvector.svg"
        class="img-responsive"
      /><br />
    </div>
  </div>

  <!--Header row-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="h2-responsive">Annual Conference</h2>
        <br />
        <p class="lead">
          The Society for the Quantitative Analyses of Behavior (SQAB) hosts a
          yearly conference coinciding with the Annual conference for the
          Association for Behavior Analysis International (ABAI). Topics span a
          range of human and non-human experimental research and both paper and
          poster sessions are offered.
        </p>

        <p class="lead">
          Registration and additional information will be available shortly.
        </p>
      </div>
    </div>
  </div>
  <!--/.Header row-->

  <!--Information row-->
  <div class="row">
    <div class="col-md-6">
      <img
        class="center-block"
        src="img/SQABvector.svg"
        class="img-responsive"
      /><br />
    </div>

    <div class="col-md-6">
      <div class="well">
        <h2 class="h2-responsive">2022 Annual Conference</h2>
        <br />

        <p class="lead">
          Please stay tuned for future updates regarding SQAB 2022.
        </p>

        <p class="lead">ACE Provider: Valdeep Saini, Ph.D., BCBA-D</p>
      </div>
    </div>
  </div>
  <!--/.Information row-->

  <div class="row">
    <div class="col-md-12">
      <img
        class="center-block"
        src="img/BACB-ACE-475x325.png"
        class="img-responsive"
      /><br />
    </div>
  </div>
</div>
