<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">SQAB Programs</h2>
            <p class="lead">...</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">
    <div class="col-md-6">
        <img src="http://via.placeholder.com/700x700" class="img-responsive" alt="">
    </div>

    <div class="col-md-6">
        <div class="well">
            <h2 class="h2-responsive">...</h2>
            <p class="lead">...</p>
        </div>
    </div>
</div>
<!--/.Information row-->

</div>