<script type="text/javascript">

const sortDescending = function(a, b) { return b.Year - a.Year; }

$(document).ready(function()
{
    $.getJSON( "json/programs.json", function( data ) {
        var programs = data.Programs;

        programs.sort(sortDescending);

        for (var i = 0; i < programs.length; i++)
        {
            var a = document.createElement("a");

            a.href = programs[i].Path;
            a.innerHTML = programs[i].Year + " SQAB Program<br><br>";
            a.className += " lead";

            document.getElementById("programDiv").appendChild(a);
        }

        var newsletters = data.Newsletters;

        newsletters.sort(sortDescending);
        
        for (var i = 0; i < newsletters.length; i++)
        {
            var a = document.createElement("a");

            a.href = newsletters[i].Path;
            a.innerHTML = newsletters[i].Year + " SQAB Newsletter<br><br>";
            a.className += " lead";

            document.getElementById("newsletterDiv").appendChild(a);
        }

    });
});
</script>

<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">Yearly Programs and Newsletters</h2><br>
            <p class="lead">Newsletters and Conference programs are retained for future reference in this location. They are also hosted online in the respective Github repository.</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">
    <div class="col-md-6">
        <div id="programDiv" class="well">
            <h2 class="h2-responsive">Previous Programs</h2><br>
            
        </div>
    </div>

    <div class="col-md-6">
        <div id="newsletterDiv" class="well">
            <h2 class="h2-responsive">Previous Newsletters</h2><br>
        </div>
    </div>
</div>
<!--/.Information row-->

</div>