<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">SQAB Membership and Registration (2018)</h2>
            <p class="lead">Membership is $20 and is payable through PayPal or surface mail. The membership fee is separate from registration fees. </p>
            <p class="lead">Membership includes six months of free electronic access to the Special Issue of Behavioural Processes, containing the proceedings of last year's SQAB meeting, beginning on the date of our conference. </p>
            <p class="lead">Online registration is only available prior to May 1. All other registration will be onsite. On-site fees are substantially increased relative to online fees. </p>
            <p class="lead">Please see the table at the bottom of this page for details regarding registration costs without the inclusion of membership fees.</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="h2-responsive">Not attending the annual symposium but still want to maintain SQAB membership?</h2>
            <p class="lead">Pay your 2018 membership dues here.</p>
            <p class="lead"><strong>2018 Membership without Symposium Registration is $20.</strong></p>

            <div class="wsb-element-paypal" data-type="element"> 
                <div style="text-align: center;">
                    <div style="display: inline-block; padding: 4px; vertical-align: top;">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="business" value="sqab1978@gmail.com">
                            <input type="hidden" name="item_name" value="2017 SQAB Membership">
                            <input type="hidden" name="item_number">
                            <input type="hidden" name="amount" value="20.00">
                            <input type="hidden" name="button_subtype" value="services">
                            <input type="hidden" name="shipping">
                            <input type="image" src="//www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <input type="hidden" name="bn" value="godaddy_hosting_WPS_US">
                            <img alt="" style="border-width: 0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <div class="col-md-6">
        <div class="well">
            <h2 class="h2-responsive">Surface Mail Registration and Membership Information</h2>
            <p class="lead">If you wish to register and pay membership through surface mail, make checks payable to The Society for the Quantitative Analyses of Behavior or SQAB. Please use the table below to identify the appropriate payment amount.</p>
            <p class="lead">Please include:<br>
                Registration/Membership Type<br>
                Name<br>
                Affiliation<br>
                Address<br>
                e-mail<br>
                Phone</p>
            <p class="lead">Send 2018 membership/registration fees to:<br>
                Carla Lagorio<br>
                Psychology Department<br>
                University of Wisconsin-Eau Claire<br>
                Hibbard Humanities Hall 269<br>
                Eau Claire, WI 54702-4004​</p>

        </div>
    </div>

















</div>
<!--/.Information row-->

</div>