<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">Submissions for Annual Conference</h2><br>
            <p class="lead">Submissions for the annual conference (e.g., posters, papers) can be submitted through an online portal. Information specific to submitting each type of work is provided below.</p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">
        <!--Featured images-->
        <div class="col-md-6">
            <div class="well">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active"><img class="d-block w-100" src="img/symp-1.jpeg" alt=""></div>
                        <div class="item"><img class="d-block w-100" src="img/symp-2.jpeg" alt="Second slide"></div>
                        <div class="item"><img class="d-block w-100" src="img/symp-3.jpeg" alt="Second slide"></div>
                        <div class="item"><img class="d-block w-100" src="img/symp-4.jpeg" alt="Second slide"></div>
                        <div class="item"><img class="d-block w-100" src="img/symp-5.jpeg" alt="Second slide"></div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!--Featured images-->

        <div class="col-md-6">
            <div class="well">
                <h2 class="h2-responsive">Submission for SQAB 2019</h2>
                <form onsubmit="uploadPoster(this)">
                    <div class="form-group">
                        <label htmlFor="submittingAuthor" class="bmd-label-floating">Submitting Author:</label>
                        <input name="submittingAuthor" type="text"
                            class="form-control"
                            placeholder="Firstname Lastname" />
                    </div>

                    <div class="form-group">
                        <label htmlFor="posterTitle" class="bmd-label-floating">Poster Title:</label>
                        <input name="posterTitle" type="text"
                            class="form-control"
                            placeholder="Experimental comparison of..." />
                    </div>

                    <div class="form-group">
                        <label htmlFor="authorEmail" class="bmd-label-floating">Corresponding Email:</label>
                        <input name="authorEmail" type="text"
                            placeholder="presenter@company.com"
                            class="form-control" />
                    </div>

                    <div class="form-group">
                        <label htmlFor="abstractText" class="bmd-label-floating">Abstract (Maximum 300 words):</label>
                        <textarea name="abstractText"
                            placeholder="In this study..."
                            class="form-control"
                            rows="10" />
                    </div>

                    <div class="form-group">
                        <label htmlFor="authorList" class="bmd-label-floating">Full Author List, with Affiliation (One per line, please):</label>
                        <textarea name="authorList"
                            placeholder="Firstname Lastname (XYZ University)"
                            class="form-control"
                            rows="5" />
                    </div>

                    <a href="javascript: uploadPoster()"
                       id="submitBtn"
                       class="btn btn-primary btn-block btn-raised">Submit</a>
                </form>
            </div>
        </div>
</div>
<!--/.Information row-->

</div>

<script>

function validateEmail(emailAddressString) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(emailAddressString.toLowerCase());
}

function uploadPoster() {
    var submittingAuthor = document.getElementsByName("submittingAuthor")[0].value;
    var authorEmail = document.getElementsByName("authorEmail")[0].value;
    var posterTitle = document.getElementsByName("posterTitle")[0].value;
    var abstractText = document.getElementsByName("abstractText")[0].value;
    var authorList = document.getElementsByName("authorList")[0].value;

    if ((submittingAuthor.split( /\w\w+/ ).length - 1 ) < 2 ) {
        alert( 'Please enter a full name!' );
        return;
    }
    else if ((posterTitle.split( /\w\w+/ ).length - 1 ) < 2 ) {
        alert( 'Please enter a full title!' );
        return;
    }
    else if (!validateEmail(authorEmail)) {
        alert( 'Check email address in form!' );
        return;
    }
    else if ((abstractText.split( /\w\w+/ ).length - 1 ) > 300 ) {
        alert( 'Abstract is over 300 words!' );
        return;
    }

    var currentdate = new Date();
    var datetime = ""
        + ( currentdate.getMonth() + 1 ) + "/"
        + currentdate.getDate() + "/"
        + currentdate.getFullYear() + " @ "
        + currentdate.getHours() + ":"
        + currentdate.getMinutes() + ":"
        + currentdate.getSeconds();

    var data = {
        name:     submittingAuthor,
        title:    posterTitle,
        email:    authorEmail,
        abstract: abstractText,
        list:     authorList,
        time:     datetime
    };

    console.log("uploadPoster() called");
}

</script>
