<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">Annual Symposia</h2>
            <p class="lead">The Society for the Quantitative Analyses of Behavior (SQAB) hosts a yearly symposia coinciding with the Annual conference for the Association for Behavior Analysis International (ABAI). Topics span a range of human and non-human experiemental research and both paper and poster sessions are offered. </p>
        </div>
    </div>
</div>
<!--/.Header row-->

<!--Information row-->
<div class="row">
    <div class="col-md-6">
        <img src="http://via.placeholder.com/700x700" class="img-responsive" alt="">
    </div>

    <div class="col-md-6">
        <div class="well">
            <h2 class="h2-responsive">2019 Schedule</h2>
            <p class="lead">The 2019 Program has not yet been finalized. Please check back at a later time.</p>
        </div>
    </div>
</div>
<!--/.Information row-->

</div>