<script type="text/javascript">
function loadContent() 
{
	var isInDirectory = !checkParamsPresent();

	$.getJSON( "json/tutorials.json", function( data ) {
		var relevantTutorial = data.Tutorials;

		if (isInDirectory)
		{
			for (var i = 0; i < relevantTutorial.length; i++)
			{
				var a = document.createElement("a");

				a.href = "Tutorial.html?index=" + relevantTutorial[i].Index;
				a.innerHTML = relevantTutorial[i].Title + "<br><br>";
				a.className += " lead";

				document.getElementById("tutorialDirectory").appendChild(a);
			}

			document.getElementById("tutorialDirectory").style.display = "block";
		}
		else
		{
			var paramString = document.location.toString().split("?")[1];
			var index = parseInt(paramString.split("=")[1]);

			var iframe = document.createElement('iframe');
			iframe.src = relevantTutorial[index].Video;

		  	document.getElementById("titleRef").innerHTML = relevantTutorial[index].Title;
		  	document.getElementById("descriptionRef").innerHTML = relevantTutorial[index].Summary;
			document.getElementById("tutorialIframeDiv").appendChild(iframe);

			document.getElementById("buttonPrev").href = "Tutorial.html?index=" + parseInt(index);
			document.getElementById("buttonNext").href = "Tutorial.html?index=" + parseInt(index + 2);

			if (index == 0)
			{
				document.getElementById("buttonPrev").href = "#"
				document.getElementById("buttonPrev").className += " invisible";
			}
			else if (index >= relevantTutorial.length - 1)
			{
				document.getElementById("buttonNext").href = "#"
				document.getElementById("buttonNext").className += " invisible";
			}

			document.getElementById("tutorialChartDiv").style.display = "block";	
		}
	});
}

function checkParamsPresent()
{
	return document.location.toString().indexOf('?') !== -1;
}

window.addEventListener('load', loadContent(), true);
</script>

<!--Main layout-->
<div class="container">

<!--Header row-->
<div class="row">
  <div class="col-md-12">
      <div class="jumbotron">
        <h2 id="titleRef" class="h1-responsive">SQAB Pre-eminent Tutorials</h2>
        <p id="descriptionRef" class="lead">SQAB is committed to simplifying the transition to quantitative analysis for students as well as advanced researchers. These informal videos of live ABA presentations are at various levels and are appropriate for classroom, seminar, and individual use. Videos can be accessed by clicking on the appropriate links below (Note to iTunes users: if an "Unresponsive Script" pops up, click "Ignore Script" to continue). All videos are available on <a href='https://www.youtube.com/c/SocietyfortheQuantitativeAnalysesofBehavior'>YouTube</a> and <a href='https://itunes.apple.com/us/itunes-u/society-for-quantitative-analyses/id423811716?mt=10'>iTunes</a>
        <br><br>
		Videos are also available as normal resolution NTSC DVDs, PAL DVDs, and VHS tapes for a nominal fee through the Tutorial Coordinator:
        <br><br>
		William Palya>: <a href="mailto:palya@jsu.edu">palya@jsu.edu</a><br>
		Society for Quantitative Analyses of Behavior<br>
		Department of Psychology<br>
		700 Pelham Road North<br>
		Jacksonville State University, Jacksonville, AL 36265</p>
        <!--

		Stubbed for now: TODO build json directory

        <script src="https://apis.google.com/js/platform.js"></script>

        <div class="g-ytsubscribe" data-channelid="UCuGL7WQjJIn_KhO6BtqHgDg" data-layout="full" data-count="default"></div>
    	-->
      </div>
  </div>
</div>
<!--/.Header row-->

<!--List row-->
<div class="row">
  <div class="col-md-12">
      <div id="tutorialDirectory" class="well" style="display: none;">
      </div>

      <div id="tutorialChartDiv" class="well" style="display: none;">
        <div id="tutorialIframeDiv" class="embed-responsive embed-responsive-16by9 text-center">
        </div>

        <hr class="extra-margin">

        <div class="read-more">
            <a id="buttonPrev" href="Tutorial.html?index=1" class="btn btn-info btn-raised">Previous Video</a>
            <a id="buttonNext" href="Tutorial.html?index=1" class="btn btn-info btn-raised pull-right">Next Video</a>
        </div>
      </div>
  </div>
</div>
<!--/.List row-->

</div>
<!--/.Main layout-->