.beproc-ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.beproc-ul > li {
  padding-bottom: 20px !important;
}

.beproc-ul > li > a {
  padding-bottom: 10px !important;
  color: rgb(127, 0, 127);
}
