.resources-ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.resources-ul > li {
  padding-bottom: 10px !important;
}

.resources-ul > li > p > a {
  padding-bottom: 10px !important;
  color: rgb(127, 0, 127);
}
