.tutorials-ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.tutorials-ul > li {
  padding-bottom: 20px !important;
}

.tutorials-ul > li > a {
  padding-bottom: 15px !important;
  color: rgb(127, 0, 127);
  font-size: 1.1rem;
}
