.tutorials-ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

.tutorials-ul > li {
  padding-bottom: 10px !important;
  font-size: medium !important;
}

.tutorials-ul > li > a {
  padding-bottom: 10px !important;
  font-size: medium !important;
  color: rgb(127, 0, 127);
}
