ul {
  list-style-type: none;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  display: block;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

footer {
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  background-color: #838383;
  color: #e7e7e7;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

.footer-trailing {
  background-color: #515151;
  padding: 1em 0 1em 0;
}

.panel.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
